
body {
    background-image: url(https://cdn.wallpapersafari.com/44/62/anOB7h.jpg);
}
 header {
     display:flex;
     justify-content: space-between;
     margin:15px;
 }

 main {
     text-align: center;
     border: linear-gradient( teal, #E74C3C);
     background: linear-gradient( teal, #E74C3C);
     border-radius: 10px;
 }

button, #submitBtn {
    background:linear-gradient(#FFF700,#922B21,#3f0355);
    color:white;
    padding:7px 25px 7px 25px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: salmon;
}
p, label {
    font-size: 20px;
    color: white;
}

#highscore-link a {
    color: salmon;
    background: teal;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}


#scoreboard {
    display:flex;
    flex-direction: column;
    background: linear-gradient(#00CFFF,rgb(147, 5, 241), #00CFFF); ;
    justify-content: center;
    font-size: 32px;

}

#highscores {
    padding:25px;
    justify-self: center;
    font-size: 20px;
}

#highscores li {
    background-color: lavender;
    margin: 4px 40% 4px 40%

}

#scoresText {
    margin-bottom: 35px;
}

#timer {
    color: salmon;
    background: teal;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

#highscore-link a:hover{
    background-color: wheat;
    cursor: pointer;
}

#timer:hover{
    background-color: wheat;
    cursor: pointer;
}

 #quiz-content, #scoreForm, #scoreboard {
     display:none;
 }
 
 ul {
     list-style: none;
 }